{% extends 'base.html' %}

{% block title %} Portal de Empleos RD {% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Empleos</h2>
        <p><button class="btn btn-success btn-md" data-target="#postearEmpleoModal" data-toggle="modal">Publicar una oferta &raquo;</button> |
        <a class="btn btn-primary btn-md" href="/jobs/" role="button">Ver todas las ofertas de empleo &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      {% for question, tags in object_list %}
          <div class="col-md-3">
            <h2><a href="#">{{ question.title }}</a></h2>
            <p>By: <a href="#"><span>Posteado por: Nombre de usuario</span></a></p>
            <p>{{ question.description|truncatechars:50 }}</p>
            <p>Fecha de publicación: <span>{{ question.modified }}</span></p>
            <p>
              <div class="tags">
                {% for tag in tags %}
                  <button type="button" class="btn btn-default btn-xs">{{ tag.nombre }}</button>
                {% endfor %}
              </div>
            </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        {% endfor %}
      </div>

      <hr>

      <footer>
        <p>
          <!-- <strong>Total de empleos: </strong>Number goes here -->
          <!-- <strong>Total usuarios: </strong>Number goes here -->
        </p>
        <p>&copy; Company 2014</p>

      </footer>
      <!-- Modal -->
      <div class="modal fade" id="postearEmpleoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Nueva Oportunidad de Empleo</h4>
            </div>
            <div class="modal-body">
              <!-- ui elements here-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Publicar empleo</button>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}