{% extends 'base.html' %}

{% block title %} Portal de Empleos RD {% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Empleos</h2>
        <p><button class="btn btn-success btn-md" data-target="#postearEmpleoModal" data-toggle="modal">Publicar una oferta &raquo;</button> |
        <a class="btn btn-primary btn-md" href="/jobs/" role="button">Ver todas las ofertas de empleo &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      {% for question, tags in object_list %}
          <div class="col-md-3">
            <h2><a href="#">{{ question.title }}</a></h2>
            <p>By: <a href="#"><span>Posteado por: Nombre de usuario</span></a></p>
            <p>{{ question.description|truncatechars:50 }}</p>
            <p>Fecha de publicación: <span>{{ question.modified }}</span></p>
            <p>
              <div class="tags">
                {% for tag in tags %}
                  <button type="button" class="btn btn-default btn-xs">{{ tag.nombre }}</button>
                {% endfor %}
              </div>
            </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        {% endfor %}
      </div>

      <hr>

      <footer>
        <p>
          <!-- <strong>Total de empleos: </strong>Number goes here -->
          <!-- <strong>Total usuarios: </strong>Number goes here -->
        </p>
        <p>&copy; Company 2014</p>

      </footer>
      <!-- Modal -->
      <div class="modal fade" id="postearEmpleoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Nueva Oportunidad de Empleo</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="post_job_form" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" placeholder="Titulo del empleo" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10">
                    <textarea rows="8" cols="4" name="description" placeholder="Descripción del puesto" class="form-control"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" placeholder="tu@correo.com" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10">
                    <select name="tags" class="form-control">
                      <option value="-1">Tags</option>
                      {% for tag in all_tags %}
                      <option value="{{ tag.name }}">{{ tag.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10">
                    <input type="text" name="posted_by" class="form-control" placeholder="Publicado por: [opcional]" />
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" id="postJob">Publicar empleo</button>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}

{% block scripts %}

  <script>
  $("document").ready(function() {
    $("#postJob").on("click", postearEmpleo);

    function postearEmpleo() {
      var jobTitle = $("input[name='title']").val();
      var jobDescription = $("textarea[name='description']").val();
      var email = $("input[name='email']").val();
      var tags = $("select[name='tags']").val();
      var user = $("input[name='posted_by']").val();

      if (jobTitle == "" || jobDescription == "" || email == "") {
        alert("You must fill required fields.");
        return;
      }

      $.ajax({
        url: '/post-job/',
        type: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          'title': jobTitle,
          'description': jobDescription,
          'email': email,
          'tags': tags,
          //'user': user 
        },
        success: function(data) {
          alert("Trabajo publicado exitosamente!");
          $("#postearEmpleoModal").modal('hide');
          $("#post_job_form")[0].reset();
          console.log(data);
        },
        error: function(error) {
          alert("Algo salio mal");
          console.log("Ha ocurrido un error" + error)
        }
      });
    }
  });
  </script>

{% endblock %}